@import "../global/var.scss";

.advanced-echarts {
  .echarts-type {
    margin-top: px2rem(20px);
    background-color: #fff;
  }
  .echarts-title {
    padding: px2rem(40px) 0;
    font-weight: normal;
    font-size: px2rem(32px);
    text-align: center;
  }
}
