@import "var.scss";

.page-login {
  min-height: 100vh;
  background-color: #fff;
  .login-box{
    padding: px2rem(450px) 0 px2rem(240px);
    color: #172434;
    background:no-repeat center transparent;
    @include img-retina3('../../assets/global/logo@1x.png', '../../assets/global/logo@2x.png', '../../assets/global/logo@3x.png', px2rem(498px), px2rem(258px));
    text-align: center;
    background-position: center px2rem(120px);
  }
  .mui-input-group {
    padding: 0 px2rem(65px);
  }
  .mui-input-group:before, .mui-input-group:after {
    height: 0;
  }
  .form-box {
    width: 100%;
  }
  .form-box .mui-input-row {
    margin-bottom: px2rem(30px);
    &.password .mui-icon-clear {
      margin-right: px2rem(56px);
    }
    .mui-icon {
      top: px2rem(26px);
      right: px2rem(20px);
      color: #e8e8e8;
      font-size: px2rem(34px);
    }
  }
  .mui-active {
    color: $primary!important;
  }
  .mui-input-group .mui-input-row{
    &:before, &:after {
      height: 0;
    }
  }
  .mui-button-row {
    margin: px2rem(30px) 0 0;
    height: 100%;
  }
  .other-btn {
    text-align: center;
    margin: px2rem(30px) px2rem(40px);
    height: px2rem(30px);
    font-size: px2rem(24px);
    color: #999;
  }
  input[type=text], input[type=password] {
    border-radius:px2rem(100px);
  }
}
