<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>首页</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../../css/global/global.css?v=$VERSION" />
    <link rel="stylesheet" href="../../css/home/style.css?v=$VERSION" />
	</head>
	<body>
    <div id="page-container" class="page-container page-navbar page-bottombar page-home" v-cloak>
			<nav-bar :title="title" :config="navBarConfig"></nav-bar>
			<div class="home-section">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell" v-for="(item, index) in functions" :key="item.name + '_' + index" :class="'cell_' + item.name">
						<div class="function-divider" v-if="item.name === 'divider'">{{item.title}}</div>
						<div class="function-page hg-flex" @click="goPage(item.name)" v-else>
							<span class="label">{{item.name}}-{{item.title}}</span>
	            <div class="mui-navigate-right flex-one"></div>
						</div>
          </li>
        </ul>
			</div>
			<back-top></back-top>
			<bottom-bar active="home"></bottom-bar>
    </div>
		<script src="../../../lib/require/require.min.js"></script>
		<script src="../../js/global/main.js?v=$VERSION"></script>
		<script src="../../js/home/index.js?v=$VERSION"></script>
	</body>
</html>
