@import "../global/var.scss";

.mui-slider {
  height: px2rem(640px);
  .mui-slider-item, .banner-inner {
    height: 100%;
  }
  &.mui-custom-slider {
    max-height: inherit;
    .mui-slider-item {
      max-height: inherit;
    }
  }
  .mui-slider-group {
    height: 100%;
  }
  .mui-slider-title {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
  }
  .mui-slider-indicator {
    bottom: px2rem(10px);
    right: px2rem(20px);
    .mui-indicator {
      width: px2rem(14px);
      height: px2rem(14px);
      margin: px2rem(2px) px2rem(8px);
      background-color: #F1F4FB;
      box-shadow: none;
      &.mui-active {
        background-color: $primary;
      }
    }
  }
}
