@import "../global/var.scss";

.mui-poppicker {
  .mui-poppicker-header {
    padding: px2rem(12px);
    font-size: px2rem(28px);
    .mui-btn {
      font-size: px2rem(24px);
      padding: px2rem(10px) px2rem(20px);
    }
  }
}
