@import "../var.scss";

.mui-hdpay {
  .mui-content {
    background-color: #fff;
    padding: px2rem(20px) px2rem(40px);
  }
  .mui-view {
    margin-bottom: px2rem(30px);
  }
  .pay-tips {
    margin-bottom: px2rem(20px);
  }
  .mui-code {
    position: absolute;
    width: px2rem(160px)!important;
    height: px2rem(50px);
    right: px2rem(20px);
    top: px2rem(14px);
  }
}
